{% extends 'base.html'%}

{% block head %}
{% endblock head %}

{% block content %}

    <article>
    </article>

{% for a in articles if a.type =="article" %} 

           <article>
        {% if a.overlay_img %}
        <div class="overlay" style="background: url(/static/img/{{a.overlay_img}})"></div>             
        {%endif%}
                {% if a.title %}
                <div class="title_data">{{a.title}} </div>
                {% else %}
                <div class="title_data"></div>
                {% endif %}
                    <div class="content_wrapper {{a.template}} " >
                {% if a.author %}
                    <h3>{{a.author}}</h3>
                {% endif %}
                    {{ a }}
                </div>
                <!--</div>-->
            </article>
{%endfor%}

{% endblock %}


